/home/michael/PythonProjects/Zabbix files/Palikarna/
/home/michael/PythonProjects/Zabbix files/Sinkro/
/home/michael/PythonProjects/Zabbix files/001/
/home/michael/PythonProjects/Zabbix files/Archives/
./Zerozip.zip

